<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Estados</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        
        <h1>Estados</h1>
        
        
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Capital</th>
                    <th>Cantidad de poblacion</th>
                    <th>Cantidad de costas</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="estados : ${estado}">
                    <td th:text="${estados.nombre}"></td>
                    <td th:text="${estados.capital}"></td>
                    <td th:text="${estados.cant_poblacion}"></td>
                    <td th:text="${estados.cant_costas}"></td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
